
<div class="game">

  <%

    grid = [
      ["&#9814;", "&#9816;", "&#9815;", "&#9813;", "&#9812;", "&#9815;", "&#9816;", "&#9814;"],
      ["&#9817;", "&#9817;", "&#9817;", "&#9817;", "&#9817;", "&#9817;", "&#9817;", "&#9817;"],
      ["", "", "", "", "", "", "", ""],
      ["", "", "", "", "", "", "", ""],
      ["", "", "", "", "", "", "", ""],
      ["", "", "", "", "", "", "", ""],
      ["", "", "", "", "", "", "", ""],
      ["&#9820;", "", "", "", "", "", "", "&#9820;"],
    ]
  %>

  <% grid.each do |row| %>
    <div class="row">
      <% row.each do |col| %>
          <div class="space">
            <%= col %>
        </div>
      <% end %>
    </div>
  <% end %>


</div>
