
<div class="game">

  <%

    grid = [


      ["&#9814;", "&#9816;", "&#9815;", "&#9813;", "&#9812;", "&#9815;", "&#9816;", "&#9814;"],
      ["&#9817;", "&#9817;", "&#9817;", "&#9817;", "&#9817;", "&#9817;", "&#9817;", "&#9817;"],
      ["", "", "", "", "", "", "", ""],
      ["", "", "", "", "", "", "", ""],
      ["", "", "", "", "", "", "", ""],
      ["", "", "", "", "", "", "", ""],
      ["", "", "", "", "", "", "", ""],
      ["&#9820;", "", "", "", "", "", "", "&#9820;"],
    ]
  %>

  <% grid.each_with_index do |row, row_index| %>
    <div class="row">
      <% row.each_with_index do |col, col_index| %>
        <%
          if row_index.even? && col_index.even?
            bg = "black"
          elsif row_index.odd? && col_index.odd?
            bg = "black"
          else
            bg = "white"
          end
        %>
          <div class="space <%= bg %>">
            <%= col %>
        </div>
      <% end %>
    </div>
  <% end %>


</div>
