---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>JWO RULES - &#9812;</h1>
  <p>Yolo | <%= link_to "About", "about.html" %></p>

  <%= image_tag "cat-boxmodel.jpg", class: "img-circle" %>
</div><!-- .welcome -->
